<html>
  <head>
    <title>Hello</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts/script.js"></script>
  </head>

  <body>

    <header>
      <a href="/map" class="btn btn-default btn-sm">Map</a>
      <a href="/logout" class="btn btn-default btn-sm">Log Out</a>
    </header>
    <h1>Hello</h1>

    <form id="country_form" method="post" action="http://localhost:8080">
      <select id="country">
        <script src="javascripts/countries2.js"></script>
      </select>
      <input type="submit" value="Submit" id="submit">
    </form>
    
    <div class="tweet_country_holder"></div>
  </body>
</html>