<html>
  <head>
    <title>TEST 2</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts/script2.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
  </head>
  <body>
      
 

    <form id="country_form" method="post" action="http://localhost:8080">
   <!--  Country: <input id="country" type="text"> -->
      <select id="country">
        <script src="javascripts/countries.js">
        </script>
      </select>
    <input type="submit" value="Submit" id="submit">
    </form>
    
    <div class="tweet_country_holder"></div>

  </body>
</html>