<h1>Log In!</h1>
<form name="login_form" id="login_form" method="post" action="/login">
      Username: <input type="text" name="username"><br>
      Password: <input type="password" name="password"><br>
      <input type="submit" value="Log In" id="login">
</form>