<!DOCTYPE html>
<html>
  <head>
    <title>TWEET WORLD</title>
     <meta http-equiv="Content-Type;X-UA-Compatible" content="text/html; charset=utf-8; IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
      #twitter { height: 1px; width: 1px;}
    </style>
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnmgA_TW_34xNXfZ6q6pSMiznkbQtCutY"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="javascripts/script.js"></script>
    <script type="text/javascript" src="javascripts/map.js"></script>

    <!-- BOOTSTRAP STUFF. think about compiling so it's available on every page-->
    <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Optional theme -->
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
   
      <!--  flat-ui theme -->
        <link rel="stylesheet" src="../stylesheets/flat-ui.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>

    <header>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand">Tweet World</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="/" >Home</a></li>
            <li><a href="#" >About</a></li>
    
    <div class="tweet_country_holder"></div>
            <% if (login) { %>
              <li><a href="/dashboard" >Dashboard</a></li>
              <li><a href="/map" >Map</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout" >Log Out</a></li>
            <% } else { %>
              </ul>
              <ul class="nav navbar-nav navbar-right">
               <li><a href="/signup" >Sign Up</a></li>
                <li><a href="/login" >Log In</a></li>
            <% } %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    </header>

    <div class="container content">

    <div id="map-canvas"/>


    </div> <!-- end container content -->

        <footer>
    Built with &#9825; at the <a href="http://www.flatironschool.com" target="_blank">Flatiron School</a>
    <span style="float:left;padding-left:2px;">  &#169; Copyright 2014 MIT License</span>
    </footer>

     <!-- Latest compiled and minified bootstrap JavaScript -->
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>