<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnmgA_TW_34xNXfZ6q6pSMiznkbQtCutY"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="javascripts/script.js"></script>
    <script type="text/javascript" src="javascripts/map.js"></script>
  </head>
  <body>
    <header>
    <a href="/map" class="btn btn-default btn-sm">Map</a>
    <% if (login) { %>
      <a href="/logout" class="btn btn-default btn-sm">Log Out</a>
    <% } else { %>
      <a href="/login" class="btn btn-default btn-sm">Log In</a>
      <a href="/signup" class="btn btn-default btn-sm">Sign Up</a>
    <% } %>
    </header>
    <div id="map-canvas"/>
  </body>
</html>