<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="javascripts/script.js"></script>
</head>

<header>
  <a href="/" class="btn btn-default btn-sm">Home</a>
  <a href="/map" class="btn btn-default btn-sm">Map</a>
</header>

<h1>Sign Up!</h1>

<% if(message.length > 0) { %>
  <div><%= message %></div>
<% } %>

<form name="sign_up_form" id="sign_up_form" method="post" action="/signup">
      Username: <input type="text" name="username"><br>
      Password: <input type="password" name="password"><br>
      <input type="submit" value="Sign Up" id="signup">
</form>