#map-canvas {
  position: absolute;
  z-index: 1;
  top: 50px;
  left: 0;
  bottom: 50px;
  right: 0;
  height: 100%;
  margin: 0;
  padding: 0;
}

#twitter {
  height: 1px;
  width: 1px;
}

body#about-page {
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 2em;
  overflow: hidden;
  background:url('../images/pale_blue_background.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body#stream_page {
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 2em;
  background:url('../images/pale_blue_background.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body#dashboard-page {
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 2em;
  background:url('../images/pale_blue_background.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body#page-top {
  overflow: hidden;
  background:url('../images/map.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body#signup-page {
  overflow: hidden;
  font-size: 2em;
  /*padding: 50px;*/
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  background:url('../images/pale_blue_background.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body#login-page {
  font-size: 2em;
  overflow: hidden;
  /*padding: 50px;*/
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  background:url('../images/pale_blue_background.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


body#map-page {
  overflow: hidden;
  /*padding: 50px;*/
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
  background:url('../images/pale_blue_background.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1.form-title {
  text-align: center;
  color: #428bca;
  font-size: 60px;
  padding-top: 100px;
  margin-top: 50px;
  padding-bottom: 10px;
  padding-left: 200px;
  width: 80%;
}

#registration_form {
  font-size: 60px;
  color: #428bca;
  text-align: center;
}

label {
  font-size: 20px;
  color: #428bca;
}

#submit_button {
  font-size: 20px;
  color: #428bca;
  border: 2px solid #a1a1a1;
  padding: 10px 40px; 
  background: #dddddd;
  width: 400px;
}

#dashboard_username {
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif
  font-size: 40px;
}

#username {
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: black;
}

#password {
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: black;
}

body#login-page {
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  background:url('../images/pale_blue_background.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content {
  z-index: 0;
}

a {
  color: #00B7FF;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5px;
  font-size: 15px;
  /*text-shadow: 0.1em 0.1em 0.2em black;*/
  background-color: lightgray;
  padding-top: 0px;
  padding-bottom: 20px;
  text-align: center;
}


.content {
  /*background-color: #fff;*/
  height: 100%;
  border-radius: 6px;
  min-height: 200px;
  padding-top: 10px;
  margin-top: 50px;
  padding-bottom: 50px;
  width: 80%;
}

.bio {
  margin: 5px;
  border: #ccc 3px solid;
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
  background-color: #fff;
  color: #949494;
}

.about-div {
  /*background-color: #333;*/
  border-radius: 10px;
  color: #949494;
  padding: 2.5%;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
  /*overflow: scroll;*/
}

.left-about {
  /*height: 400px;*/
  width: 80%;
  padding:50px;
  margin: auto;
}

.right-about {
  /*height: 400px;*/
  /*float: right;*/
  padding-top: 0;
  width: 80%;
  margin: auto;
  text-align: center;
}

option:hover {
  background-color: #428bca;
}

h2.center {
  text-align: center;
}

#submit {
  color: #428bca;
  background-color: #B2BBBF;
  font-size: 20px;
  height: 35px;
  width: 100px;
}

#wrap {
  display: inline;
  width: 500px;
  text-align: left;
}

.delete {
  position: absolute;
  padding: 0;
  border: none;
  background: none;
  right: 0;
  top: 0;
  width: 25px;
  height: 30px;
}

.country_name {
  font-size: 20px;
}

.image {
  float:left;
}

.tweetworld {
  font-family: PicoBlackAl;
  font-size: 60px;
  text-align: center;
  color: #0033CC;
}

#buttons {
  text-align: center;
}

.country_tweet_panel {
background-color:white;
border:2px;
border-style:solid;
border-color:gray;
border-radius:5%;
margin:auto;
float:left;
}