body {
  /*padding: 50px;*/
  font-family:"Symbola";
  background:url('../images/pale_blue_background.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  color: #00B7FF;
}

footer {
  text-align: center;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  color:black;
  /*text-shadow: 0.1em 0.1em 0.2em black;*/
  background-color: lightgray;
}


.content {
  /*background-color: #fff;*/
  border-radius: 6px;
  min-height: 200px;
  padding-top: 10px;
  margin-top: 50px;
  padding-bottom: 50px;
  width: 80%;
}

.bio {
  margin: 5px;
  border: #ccc 3px solid;
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
  background-color: #fff;
  color: #949494;
}

.about-div {
  /*background-color: #333;*/
  border-radius: 10px;
  color: #949494;
  padding: 2.5%;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
  /*overflow: scroll;*/
}

.left-about {
  /*height: 400px;*/
  width: 80%;
  padding:50px;
  margin: auto;
}

.right-about {
  /*height: 400px;*/
  /*float: right;*/
  width: 80%;
  margin: auto;
  text-align: center;
}

h2.center {
  text-align: center;
}

#submit {
  border-radius: 4px;
  moz-border-radius: 4px;
  webkit-border-radius: 4px;
  background-color: #B2BBBF;
  font-size: 30px;
}

.ex_button {
  border-radius: 100%;
  border: 2px solid #c2c2c2;
  position: relative;
  padding: 1px 5px;
  top: -20px;
  background-color: #605F61;
  left: 198px;
}

.tweetworld {
  float: right;
  font-size: 80px;
}

.tweet {
  font: Gotham Narrow;
  font-size: 50px;
  font-weight: bold;
  color: #949494;
  text-align: center;
}

.country_tweet_panel {
background-color:white;
border:2px;
border-style:dashed;
border-color:gray;
border-radius:5%;
margin:auto;
float:left;
}




