body {
  padding: 50px;
  font-family:"Symbola";
}

a {
  color: #00B7FF;
}

footer {
  text-align: center;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  color:black;
  /*text-shadow: 0.1em 0.1em 0.2em black;*/
  background-color: lightgray;
}
