body {
  /*padding: 50px;*/
  font-family:"Symbola";
   background:url('') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  color: #00B7FF;
}

footer {
  text-align: center;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  color:black;
  /*text-shadow: 0.1em 0.1em 0.2em black;*/
  background-color: lightgray;
}


.content {
  background-color: #fff;
  border-radius: 6px;
  min-height: 200px;
  padding-top: 10px;
  margin-top: 50px;
  padding-bottom: 50px;
  width: 80%;
}

